@CHARSET "ISO-8859-1";

body {
    background-color: #b0b0b0;
}

.centerPage {
	background-color: #ffffff;
    margin: auto;
    width: 500px;
    border:3px solid #73AD21;
    padding: 10px;
}

.formAlmostFullLength {
	width: 99%;
}

.formFullLength {
	width: 100%;
}

.bottomPadding {
	margin-bottom: 7px;
}