@CHARSET "ISO-8859-1";

body {
    background-color: #b0b0b0;
}

.centerPage {
	background-color: #ffffff;
    margin: auto;
    width: 500px;
    border:3px solid #73AD21;
    padding: 10px;
}

.viewPage {
	background-color: #ffffff;
    margin: auto;
    width: 700px;
    border:3px solid #73AD21;
    padding: 10px;
}

.formAlmostFullLength {
	width: 99%;
}

.formFullLength {
	width: 100%;
}

.formHalfLength {
	width: 50%;
}

.bottomPadding {
	margin-bottom: 7px;
}

.searchSpace {
        width: 15%;
        display: inline-block;
}

.shirtSpace {
        width: 20%;
        display: inline-block;
        margin-bottom: 10px;
}

.startSpace {
        width: 34%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        align-items: center;
        display: inline-block;
}

.centered {
        text-align: center;
}